# Same priority as all.snippets in honza/vim-snippets. It's slightly lower than
# the priority set for other filetypes.
priority -60

global !p
import vimrc
endglobal

snippet diso8601 "ISO 8601 format datetime in UTC" w
`!p snip.rv = vimrc.now()`
endsnippet
