[submodule "home/.themes/zuki-themes"]
	path = home/.themes/zuki-themes
	url = https://github.com/lassekongo83/zuki-themes.git
[submodule "home/.mikutter/plugin/mikutter-uwm-hommage"]
	path = home/.mikutter/plugin/mikutter-uwm-hommage
	url = https://github.com/moguno/mikutter-uwm-hommage.git
[submodule "home/.mikutter/plugin/search"]
	path = home/.mikutter/plugin/search
	url = https://github.com/moguno/mikutter-search_moguno.git
[submodule "home/.mikutter/plugin/sub_parts_client"]
	path = home/.mikutter/plugin/sub_parts_client
	url = https://github.com/toshia/mikutter-sub-parts-client.git
[submodule "home/.mikutter/plugin/mikutter-subparts-image"]
	path = home/.mikutter/plugin/mikutter-subparts-image
	url = https://github.com/moguno/mikutter-subparts-image.git
[submodule "home/.mikutter/plugin/mikutter-mac"]
	path = home/.mikutter/plugin/mikutter-mac
	url = https://github.com/midchildan/mikutter-mac.git
