[submodule "home/.themes/zuki-themes"]
	path = home/.themes/zuki-themes
	url = https://github.com/lassekongo83/zuki-themes.git
	ignore = all
[submodule "home/.local/opt/fzftools"]
	path = home/.local/opt/fzftools
	url = https://github.com/midchildan/fzftools.git
	ignore = all
[submodule "home/.local/opt/tmux-copycat"]
	path = home/.local/opt/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	ignore = all
