[submodule "home/files/.local/opt/fzftools"]
	path = home/files/.local/opt/fzftools
	url = https://github.com/midchildan/fzftools.git
[submodule "home/files/.local/opt/tldr"]
	path = home/files/.local/opt/tldr
	url = https://github.com/tldr-pages/tldr.git
