let mapleader=' '

set incsearch hlsearch
set ignorecase smartcase
set showmode

set surround
set multiple-cursors

nnoremap gcc :action CommentByLineComment<CR>
nnoremap zm zM
nnoremap zr zR
nnoremap Y y$
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap <C-l> :nohlsearch<CR>
nnoremap <C-w>} :action QuickImplementations<CR>
nnoremap <C-w><C-o> :action HideAllWindows<CR>
nnoremap <Leader>c :action RenameElement<CR>
nnoremap <Leader>d :action SafeDelete<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gr :action ChooseRunConfiguration<CR>
nnoremap <Leader>g<C-]> :action GotoSymbol<CR>
nnoremap <Leader>rr :action Run<CR>
nnoremap <Leader>rc :action RunClass<CR>
nnoremap <Leader>tb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>t# :set relativenumber! relativenumber?<CR>
nnoremap <Leader>t~ :set ignorecase! ignorecase?<CR>
nnoremap <Leader>/ :action FindInPath<CR>
nnoremap <Leader>: :action GotoAction<CR>
nnoremap <Leader><C-O> :action RecentFiles<CR>
nnoremap <Leader><C-]> :action FileStructurePopup<CR>
