priority -100

snippet ( "brackets" i
($1)
endsnippet

snippet ) "egyptian brackets" i
($1
)
endsnippet

snippet { "brackets" i
{$1}
endsnippet

snippet } "egyptian brackets" i
{$1
}
endsnippet

snippet [ "brackets" i
[$1]
endsnippet

snippet ] "egyptian brackets" i
[$1
]
endsnippet

snippet < "brackets" i
<$1>
endsnippet

snippet > "egyptian brackets" i
<$1
>
endsnippet
