name: Upgrade dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: "0 15 * * THU"
jobs:
  upgrade-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v16
      - name: Update flake
        run: nix flake update
      - name: Update submodules
        run: git submodule update --init --remote
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: bot/routine-update
          delete-branch: true
          labels: dependencies,nix,submodules
          title: "chore(deps): routine update"
          commit-message: "chore(deps): routine update"
          body: |
            - Update submodules
            - Update flakes
